*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.download-btn{
    position: absolute;
    z-index: 1000;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.393);
    transition: all 0.2s;
    cursor: pointer;
}

.audio-btn{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    background: none;
    background-image: url("/sound-off.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    width: 3rem;
    height: 3rem;
    border: 0;
    transition: opacity 0.2s;
    cursor: pointer;
    outline: none;
}

.audio-btn:hover{
    opacity: 0.8;
}

.audio-on{
    background-image: url("/sound-on.svg");
}

.download-btn:hover{
    opacity: 0.8;
}

@media screen and (max-width: 780px) {
    body {
        background-size: 150vw;
    }
}

/* Phone styling */
@media screen and (max-width: 590px) {
    .audio-btn{
        width: 2.5rem;
        height: 2.5rem;
    }
    .audio-btn:hover{
        opacity: 0.6;
    }
}
